.navbar{
 max-width: 1440px;
 margin: auto;
}
.nav-item{
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Roboto',  sans-serif ;font-weight: 100;

}
.navbar-brand{
font-size: 60px ! important;font-weight: 100;
 }
body{ 
max-width: 1440px; 
margin: 0 auto !important; 
float: none !important; 
padding-top: 300px;
}

div{
	text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

	iframe{
		background-repeat: no-repeat;
		background-position: center;

		
	}
	
footer{
width:100%;

padding-top: 260px;
}

.footer{
width:100%;
text-align: center;
}

.container2 img{
	padding:5px;
}

.container2{
	text-align: center;
}

a{
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Roboto',  sans-serif ;font-weight: 100;

}


h3{text-decoration: none;
	font-size: 15px !important;
	text-align: center;
	  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue',  'Roboto', sans-serif;font-weight: 100;


	
	padding-bottom: 6px;
	padding-top: 5px;


}


p{text-decoration: none;
	font-size: 15px !important;
	text-align: center;
	  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue',  'Roboto', sans-serif;font-weight: 100;

padding-bottom: 6px;
	padding-top: 5px;

}

}
.container{
	justify-content: center;
	

}
p{text-decoration: none;
	font-size: 15px !important;
	text-align: center;

  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue',  'Roboto', sans-serif;font-weight: 100;


	padding-bottom: 6px;
	padding-top: 5px;
	text-decoration: none;
	font-size: 15px !important;


}
.linkedin{
	text-decoration: underline;

}
.linkedin:hover{
	
}

iframe{
  max-width: 500px;
  margin: auto;
 max-width: 100%;
 }
 @media only screen and (max-width: 1000px){
 	iframe
 		 {
  margin: auto;
  width: 100%;
  
  padding-left:50px  !important;
  padding-right: 50px;
}
 }
@media screen and (max-width: 800px) {
  #navbar-header {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
    
    }}
