

img{
 
  padding-top: 100px;
}


 .row{
  padding-left: ;
  padding-top: 10px;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Roboto',  sans-serif ;
font-weight: 100;
 }

body { 
  max-width: 900px !important; 
  margin: auto !important; 
  float: none !important; 
  background: #f9f9f9;
  font-size: 5px;
 font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Roboto', sans-serif ,!important;
font-weight: 100;
  padding-bottom: 80px;

}

footer{
  margin-top: 300px;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Roboto',  sans-serif ;
font-weight: 100;
}
.container {
  position: relative;
  width: 50%;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight','Helvetica Neue','Roboto', sans-serif;
font-weight: 100;

}
p{
   font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight','Helvetica Neue', 'Roboto', sans-serif;
font-weight: 100;

}


.middle {
  transition: 2.50s ease;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight','Helvetica Neue',  'Roboto', sans-serif;
font-weight: 100;
}

.container:hover .image {
  opacity: 0.3;
  text-decoration: none;
}

.container:hover .middle {
  opacity: 1;
  text-decoration: none
}

.text {
  background-color:transparent;
  color: black;
  font-size: 35px;
  padding: 16px 32px;
  padding-bottom: 150px;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue',  'Roboto', sans-serif;
font-weight: 100;
text-align: center
}


@media screen and (max-width: 600px) {
  #navbar-header {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;


}
.text{
  visibility: hidden;
}


