@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/work-sans-v9-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/work-sans-v9-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/work-sans-v9-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/work-sans-v9-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/work-sans-v9-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/work-sans-v9-latin-100.svg#WorkSans') format('svg'); /* Legacy iOS */
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

.dropdown-content:hover a{
  color: black

}
.navbar{
  max-width: 1440px;
  margin: auto;
}
}
html, body {
  max-width: 1440px !important;
   overflow-x: hidden;
   
 }


body {
 max-width: 1440px; 
  margin: 0 auto !important; 
  float: none !important; 
 }

.navbar-brand
    {
      font-size: 60px ! important;
      font-weight: 100 !important;
}





.dropbtn {
  background-color: transparent;
  color: transparent;
  padding: 10px;
  font-size: 16px;
  border: none;
  
  
  
}

.dropdown {
 position: relative;
  display: inline-block;



  

  
}

.dropdown-content {

  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;

  
  z-index: 1;
  overflow: scroll;
  max-height: 600px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown-content a:hover {background-color: transparent;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}




* {
  box-sizing: border-box;
}
.item {
  display: inline-block;
  padding-bottom: 500px;
  padding-top: 100px;
font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Work Sans', sans-serif;
font-weight: 100;
  
}
.fc-r2 {
  font-family: Roboto, sans-serif;
  font-size: 60px;
  font-weight: 100;
  line-height: 1em;
  letter-spacing: 0.64em;
  color: #1d6152;
  background-color: #fff;
  display: inline-block;
  margin-top: -0.7em;
  padding: 0.65em 0 0.65em 0.7em;
}

.description{
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Work Sans',  sans-serif;
font-weight: 100;

}

}
#title{
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Work Sans',  sans-serif ;
font-weight: 100;
}

.navbar-brand
    {
      font-size: 60px ! important;
      
    }
   
body{max-width: 1440px!important;
  margin:auto;
  padding-top: 250px;

  
}

u{
  font-size: 15px;
}
h1{
   font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Work Sans',  sans-serif;
font-weight: 100;
}

p{ 
   font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Work Sans',  sans-serif;
font-weight: 100;




}
h6{
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Work Sans',  sans-serif;
font-weight: 100;
}



footer{
width:100%;

}
.footer{
width:100%;
text-align: center;


}

.featured-image{
 padding-left: 10px;
 padding-bottom: 1100px;

}
@media screen and (max-width: 600px) {
  #navbar-header {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}




/* on PC */
@media screen and (min-width: 700px) {
  .featured-image {
    float: left;
    width: 50%;
    padding-right: 7px;
    padding-left: 7px;
  }
  .featured-image img {
    width: 100%;
  }
  .description {
    float:;
    width: 100%;
    padding-top: 0px;
    padding-left:0px;
    

}
body{
  max-width: 1440px!important;
}
}



/* on Mobile */

@media screen and (max-width: 698px) {
  #navbar-header {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  .featured-image {
    width: 100%;
    padding-bottom: 5px;
  }
  .featured-image img {
    width: 100%;
  }
  .description {
    width: 100%;
  }
  body{
    padding-left: 5px;
    padding-right: 5px;
  }
  .dropdown {
    padding-left: 100px;
  }